<div id="root-wrapper">
  <div id="left-content">
    <%= render partial: 'post', collection: @posts %>

    <% if cookies[:role] == 'fdw' %>
      <%= link_to '新規投稿作成', new_post_path(path: :root) %>
    <% end %>
  </div>

  <div id="right-content">
    <%= render partial: 'post', collection: @side_posts %>

    <% if cookies[:role] == 'fdw' %>
      <%= link_to '新規投稿作成', new_post_path(path: :root_side) %>
    <% end %>
  </div>
</div>
