@charset "UTF-8";

/* basic css */

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

@mixin img-cover {
  display: inline-block;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-size: cover;
}
.img-cover {
  @include img-cover;
}

@mixin img-contain {
  display: inline-block;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-size: contain;
}
.img-contain {
  @include img-contain
}

/* global clear */

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'MS ゴシック',Osaka,sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #040;
  font-style: normal;
  text-decoration: underline;
  &:hover {
    color: #f00
  }
  &:active {
    text-decoration:none;
  }
}

input, textarea {
  font-size: 14px;
  line-height: 18px;
}

select, button, input[type=button], input[type=submit] {
  font-size: 18px;
}

textarea {
  resize: vertical;
}

#header {
  img {
    display: block;
  }
}

#wrapper {
  margin: auto;
  width: 720px;
  line-height: 18px;
  font-size: 14px;
  font-family: 'MS ゴシック',Osaka,sans-serif;
}

#container {
  overflow: hidden;
}

.column {
  margin: 4px;
  border: solid 1px #FDD;
  h2 {
    font-size: 14px;
    line-height: 18px;
  }
  .sub-head {
    padding: 2px;
    background-color: #FDD;
  }
  .content {
    padding: 10px 4px 10px 10px;
    .monospace {
      font-family: monospace;
    }
  }
  img {
    max-width: 560px;
  }
}

#main {
  float: right;
  width: 592px;
}

#root-wrapper {
  margin: 5px;
}

#left-content {
  float: left;
  width: 414px;
  img {
    max-width: 382px;
  }
}

#right-content {
  float: right;
  width: 162px;
  img {
    max-width: 130px;
  }
}

#side {
  float: left;
  width: 128px;
  background-color: #DDD;
  padding-bottom: 10000px;
  margin-bottom: -10000px;

  ul {
    display: block;
    li {
      margin: 4px;
      padding: 4px;
      border: solid 1px #040;
      background-color: #CFC;
      &.tag_btn_sub {
        margin-left: 32px;
        background-color: #9F9;
      }
      &.selected {
        background-color: #FF9;
      }
    }
  }
}

#footer {
  clear: both;
  text-align: center;
  .gray {
    background-color: #DDD;
  }
}

.field, .actions {
  margin-bottom: 20px;
}

.no-content {
  margin: 10px;
  font-size: 10px;
}

.pages-photo-album {
  .column {
    .img-cover {
      display: inline-block;
      margin: 5px;
      width: 175px;
      height: 175px;
    }
  }
}

.edit-gallery {
  .img-cover {
    width: 100px;
    height: 100px;
  }
}
