@charset "UTF-8";
@import "twitter/bootstrap";

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix;
}

.left {
  float: left;
}

.right {
  float: right;
}

#wrapper {
  margin: auto;
  width: 720px;
}

#main {
  float: right;
}

#side {
  float: left;
}

#footer {
  clear: both;
}
