@charset "UTF-8";
@import "twitter/bootstrap";

/* basic css */

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* global clear */

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
}

#wrapper {
  margin: auto;
  width: 720px;
  font-size: 12px;
  font-family: 'MS ゴシック',Osaka,sans-serif;
}

#container {
  overflow: hidden;
}

#main {
  float: right;
  width: 592px;
}

#side {
  float: left;
  width: 128px;
  background-color: #DDD;
  padding-bottom: 10000px;
  margin-bottom: -10000px;

  ul {
    padding: 1px 0;
    display: block;
    a {
      text-decoration: underline;
      color: #040;
    }
    li {
      margin: 4px;
      padding: 4px;
      border: solid 1px #040;
      background-color: #CFC;
      &.selected {
        background-color: #CC9;
      }
    }
  }
}

#footer {
  clear: both;
  text-align: center;
  .gray {
    background-color: #DDD;
  }
}
