<div class="column">
<h2 class="sub-head">アップロードファイルの更新</h2>

<div class="content">
<%= render 'form' %>
</div>

<div class="clearfix" style="margin: -50px 5px 20px;">
  <%= button_to '削除', @upload, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "right" %>
</div>

<%= link_to '一覧へ', uploads_path %>

</div>
