<div class="column">
<div class="sub-head clearfix">
  <h2 class="left"><%= post.title %></h2>
  <% if cookies[:role] == 'fdw' %>
    <%= link_to "編集", edit_post_path(post), class: "right" %>
  <% end %>
</div>
<div class="content">
<%= nl2br(post.content) %>
</div>
</div>
