<!DOCTYPE html>
<html>
<head>
  <title>FujiDaigoWakatakekai</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="tag_btn" align="left"><a href="/index.php">トップページ</a></div>
<div id="tag_btn" align="left"><a href="/greeting/greeting.php">HP開設にあたり</a></div>
<div id="tag_here" align="left">若竹会について</div>
<div id="tag_btn_sub" align="left"><a href="/about_us/kaisoku/kaisoku.php">会則</a></div>
<div id="tag_btn_sub" align="left"><a href="/about_us/fusoku/fusoku.php">附則</a></div>
<div id="tag_btn_sub" align="left"><a href="/about_us/meibo/meibo.php">役員名簿</a></div>
<div id="tag_btn_sub" align="left"><a href="/about_us/history/history.php">沿革</a></div>
<div id="tag_btn" align="left"><a href="/letter/letter.php">役員会だより</a></div>
<div id="tag_btn" align="left"><a href="/info/info.php">事務局からのお知らせ</a></div>
<div id="tag_btn" align="left"><a href="/w_new/w_new.php">更新履歴<br>(What's New)</a></div>
<div id="tag_btn" align="left"><a href="/archive/archive.php">アーカイブ</a></div>
<div id="tag_btn" align="left"><a href="/circle/circle.php">恩師・ＯＢの輪</a></div>
<div id="tag_btn" align="left"><a href="/link/link.php">リンク集</a></div>
<div id="tag_btn" align="left"><a href="/post/post.php">事務局への<br>連絡フォーム</a></div>
<div id="tag_btn" align="left"><a href="/board/board.php">会員からの告知板</a></div>
<div id="tag_btn" align="left"><a href="/enquete/enquete.php">アンケート</a></div>
<div id="tag_btn" align="left"><a href="/ucontact/ucontact.php">会員連絡先変更届</a></div>

<%= yield %>

</body>
</html>
